.issue_container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  flex-wrap: wrap;
  /* align-items: center; */
}

.number_title{
  display: flex;
  flex-wrap: wrap;
}

.user_update{
  display: flex;
  flex-wrap: wrap;
}

.number{
  margin-left: 1vw;
}
.title{
  margin-left: 2vw;
}
.avatar_url{
  width: 2vw;
}
.user{
  margin-left: 1vw;
}
.update{
  margin-left: 2vw;
}
.comments{
  margin-left: 1vw;
}